
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 1.5rem;
}

label{
    font-size: 1.3rem;
    
}

div {
    display: block;
}

body{
    margin: 0;
}

header{
    background-color: gainsboro;
}

footer{
    background-color: gainsboro;
}


.mainContent{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;

}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    
}

.priceField{
    padding: .5rem;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.productDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
}

.productImage{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.productText{
    text-align: center;
}

.productText p{
    font-size: 1.5rem;
}

@media (min-width: 1024px){
    .column1{
        padding: 1rem;
        background-color: red;
        flex: 0 0 auto;
        width: 25%;
    }
    
    .column2{
        padding: 1rem;
        background-color: blue;
        flex: 0 0 auto;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px){

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

